pom.xml
pom.xml.asc
*jar
/lib/
backend/classes/
backend/target/
backend/database.db
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
**/*~
frontend/elm-stuff
frontend/App.js
.hgignore