pom.xml
pom.xml.asc
*jar
/lib/
classes/
target/
database.db
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
**/*~
.hgignore
.idea
google-api-data.txt
*.iml
*.sh